.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding : 0 8px;
    cursor: pointer;
    background-color: #192841;
    margin-bottom: 10px;
    color: white;

}

.row button:hover{
    font-weight: bold;
    background-color: #5db9f6;
    color: white;
}

.row #calculate{
    color: #FFF;
    background-color: #46e0bc;
    width : 121px;
    border-radius: 50px;
    font-size: 40px;
}
.row #delete{
    color: white;
    font-weight: 600;
    background-color: #fa8e84;
}