*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
}
.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calc-container{
    background-color: #292929;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

.mode{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.output{
    width: 100%;;
}

.operation{
    width: 600px;
    height: 70px;
    color: #878787;

    font-size: 1.9em;
    font-weight: bold;

    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;
    bottom: 5px;
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}

.result{
    width: 600px;
    height: 100px;
    color: #FFF;
    font-size: 2.6em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.result .value{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right : 10px;

    white-space: nowrap;
    overflow: hidden;
}


.input{
    background-color: #292929;
    border-radius: 0 0 25px 25px;
}


#division, #multiplication, #subtraction, #addition {
    color: #7ff5da;
    font-size: 30px;
    font-weight: 600;
}

.input button span{
    font-size: 0.6em;
    position: absolute;
}

.active-angle{
    background-color: #5db9f6 !important;
    color: #FFF !important;
    border-radius: 10px !important;
}